# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.


#---------------------------------- frontend ------------------------------
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/frontend/angular-ecommerce/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db



#--------------------------------------- Backend ---------------------------------------

HELP.md
/front_back/backend/spring-boot-ecommerce/prj/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


